.bulletin{
    width: 98%;
    height: 40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}
.sticky_note{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(246, 246, 180);
    border: solid black 2px;
    box-shadow: 5px 10px;
    border-radius: 5%;
    margin: 10px;


}