<div class="header">
    <img src="header_party.png">
</div>

<div class="bulletin">
    <% @all_stickies.each do | entry | %>
        <div class="sticky_note">
            <div>
                <form method= "post" action= "/delete/<%=entry.id%> ">
                    <button type="submit">X</button>

                    <input type="hidden" name="authenticity_token" id="authenticity_token" value="<%= form_authenticity_token %>">

                </form>
            </div>

            <div class="content">
                <%= entry.body %>
            </div>

        </div>
    <% end %> 
</div>

<div class= "space">
    
</div>

<div class="desk"> 
    <form method= "post" action= "/save">

        <div>
            <input class= "notepad" id="myInput" placeholder="Some text.." value="" name = "body">
        </div>

        <input type="hidden" name="authenticity_token" id="authenticity_token" value="<%= form_authenticity_token %>">

    </form>
</div>


<script>
// var input = document.getElementById("myInput");
// input.addEventListener("keyup", function(event) {
//     if (event.keyCode === 13) {
//         event.preventDefault();
//         document.getElementById("myInput").click();
//     }
// });
</script>