<div class="header">Make some stickies!</div>
<body>
<div class="bulletin">
    <% @all_stickies.each do | entry | %>
        <div class="sticky_note">
            <div>
                <form method= "post" action= "/delete/<%=entry.id%> ">
                    <button type="submit">X</button>

                    <input type="hidden" name="authenticity_token" id="authenticity_token" value="<%= form_authenticity_token %>">

                </form>
            </div>

            <div class="content">
                <%= entry.body %>
            </div>

        </div>
    <% end %> 
</div>

<div class= "space">
    <div class="pens"></div>
</div>

<div class="desk"> 
    <form method= "post" action= "/save">

        <%# <div>
            <label> Title:</label>
            <input type="text" name="title"> 
        </div> %>

        <div>
            <textarea class= "notepad" id="contents" name="body"> </textarea>
        </div>

        <div>
            <button type="submit">Save!</button>
        </div>

        <input type="hidden" name="authenticity_token" id="authenticity_token" value="<%= form_authenticity_token %>">

    </form>
</div>
</body>